.product-detail {
  background-color: rgb(238, 238, 238);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.product-nav-img img {
  width: auto;
  height: 50px;
}
